* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: #aaaaaa;
}
.amount-input {
  width: 200px;
}
.loader {
  border: 8px solid #f3f3f3;
  border-top: 8px solid #3498db;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  animation: spin 1s linear infinite;
  margin: auto;
  display: none;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
